@media print {
  body {
    width: 8.5in;
  }
}

html {
  line-height: 1.2;
}

body {
  margin: 1em 0 0 0;
    width: 8.5in;
}

ol, ul {
  list-style-type: none;
}

.brand { font-size: 4em; }


.note { font-size: 50%;  }


.cellar-timeline {
  font-size: 1.25em;
  text-align: right;
}

.cellar-timeline li {
  margin: 0.5em 0 0 0;
}

.cellar-timeline li.note {
  margin: 0.1em 0 0 0;
}

.gravities {
  font-size: 0.75em;
  margin-right: 0.5em;
}


.checklist {
  margin: 0;
  padding: 0;
}

.checklist li {
  margin: 0.25em 0;
  padding: 0;
}

.checkbox {
  border: solid 1px #000;
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 1em;
  padding-right: 1.1em;
  margin-right: 0.5em;
}


.centered {
  text-align: center;
}


.underline {
  border-bottom: solid 1px #000;
  display: inline-block;
}


.microbiology .colhead {
  text-decoration: underline;
}

.microbiology > div {
  margin-bottom: 0.25em;
}

.turn-reminder {
  font-size: 4em;
  text-align: center;
}
.turn-reminder .days {  width: 2em;  }
.turn-reminder .date {  width: 5em;  }

.version { font-size: 0.5em; }
